#paper {
    border: 1px solid #333333;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 50px;
}
.xp-summary {
    font-size: 14px;
}

.xp-time, .edu-time {
    margin-top: 0px;
}

p.subheading {
    margin-top: 0px;
}

h1 {
    margin-bottom: 0;
}

h3 {
    border-bottom: 1px solid #999;
}

h4 {
    margin-top: 0px;
}