<div class="row">
    <div id="paper" class="small-12 medium-offset-0 medium-12 large-offset-0 large-11 columns">
        <div class="row">
            <div class="small-12 medium-offset-1 medium-10 columns">
                <div class="row">
                    <div class="small-12 columns">
                        <h1>{{resume.name}}</h1>
                        <p class="subheader">{{resume.tagline}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns">
                        <h3>Profile</h3>
                        <div class="row">
                            <div class="small-12 columns">
                                <p>{{resume.profile}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="small-12 columns">
                                <h3>Education</h3>
                            </div>
                            <article ng-repeat="edu in resume.education">
                                <div class="edu-time subheader small-12 medium-3 columns">
                                    {{edu.years}}
                                </div>
                                <div class="small-12 medium-9 columns">
                                    <h4>{{edu.school}}</h4>
                                    <p>
                                        {{edu.location}}<br/>
                                        {{edu.degree}}
                                    </p>
                                </div>
                            </article>
                        </div>
                        <div class="row">
                            <div class="small-12 columns">
                                <h3>Experience</h3>
                            </div>
                        </div>
                        <div class="row" ng-show="{{xp.company != ''}}" ng-repeat="xp in resume.experience">
                            <div class="xp-time subheader small-12 medium-3 large-3 columns">
                                {{xp.start}} - {{xp.end == '' ? 'Present' : xp.end}}
                            </div>
                            <div class="small-12 medium-9 large-9 columns">
                                <h5>{{xp.company}}, {{xp.location}}</h5>
                                <p class="xp-summary">{{xp.summary}}</p>
                                <ul class="square">
                                    <li ng-repeat="li in xp.list">{{li}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>